.pagination {
  margin-top: 20px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.table th {
  text-align: center;
  background-color: black;
  color: white;
}

.table td {
  vertical-align: middle;
}

.btn-sm i {
  font-size: 1rem;
}

.btn-success {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

  .btn-success .bi {
    font-size: 1.25rem; /* Ajuste o tamanho do ícone */
  }
