.pagination {
  margin-top: 20px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.table th {
  text-align: center;
  background-color: black;
  color: white;
}

.table td {
  vertical-align: middle;
}

.btn-sm i {
  font-size: 1rem;
}

.btn-success {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

  .btn-success .bi {
    font-size: 1.25rem; /* Ajuste o tamanho do ícone */
  }

.toast {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

  .toast.show {
    opacity: 1;
  }

  .toast.bg-success {
    color: #fff;
    background-color: #198754;
  }

  .toast.bg-danger {
    color: #fff;
    background-color: #dc3545;
  }


.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .page-link i {
    font-size: 1rem; /* Aumenta o tamanho do ícone */
  }
